.newbook-form {
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    margin: 0 -.5em;
}
.newbook-form input:not([type=radio]):not([type=checkbox]),
.newbook-form select,
.newbook-form textarea {
    width: 100%;
}
.newbook-form .newbook-af-field {
    flex: 1 1 100%;
    padding: 0 .5em .25em;
}
.newbook-af-field:before {
    content: attr(data-label);
    font-size: .8em;
}
.newbook-form .newbook-submit {
    padding: 0 .5em .25em;
}
.newbook-category {
    margin: 0 0 2em;
    box-shadow: 1px 1px 1px 1px rgba( 0, 0, 0, .15 );
    display: flex;
    flex-direction: column;
}
.newbook-category .category-images {
    flex: 1 1 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
    align-items: center;
    height: 40vh;
}
.newbook-category .category-images .category-image {
    flex: 0 0 100%;
    align-items: center;
    display: flex;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}
.newbook-category .category-images input:checked {
    background: #ff00ff;
}
.newbook-category .category-images input:checked + .category-image {
    opacity: 1;
    z-index: 11;
}
.newbook-category .category-images .category-image img {
    display: block;
    margin: 0 auto;
}
.newbook-category .category-images .images-nav {
    position: relative;
    padding: 0 1em;
    display: flex;
    flex: 0 0 100%;
    justify-content: space-between;
    z-index: 15;
    position: absolute;
    width: 100%;
    flex-direction: row-reverse;
}
.newbook-category .category-images .images-nav label {
    font-size: 3em;
    color: #ffffff;
    background: rgba(34, 34, 34, 0.8);
    cursor: pointer;
    text-align: center;
    line-height: .9;
    width: 1em;
    height: 1em;
}
.newbook-category .category-images .images-nav label.nav-prev:before {
    content: '\2039';
}
.newbook-category .category-images .images-nav label.nav-next:before {
    content: '\203A';
}
/*
.newbook-category .category-images ul.category-images-nav {
    text-align: center;
    position: absolute;
    bottom: 1em;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    z-index: 15;
}
.newbook-category .category-images ul.category-images-nav li {
    display: inline-block;
    overflow: hidden;
}
.newbook-category .category-images ul.category-images-nav label {
    text-indent: -99em;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid rgba( 120, 120, 120, .5 );
}
.newbook-category .category-images :checked ~ .category-images-nav li[data-for]
*/
.newbook-category .category-content {
    padding: 1em;
    flex: 1 1 100%;
}
.newbook-category .category-av {
    margin: 0 0 1em;
}
.newbook-category .category-max {
    position: relative;
}
.newbook-category .category-max .max-anchor {
    font-size: 1.5em;
    width: auto;
    height: auto;
    cursor: pointer;
}
.newbook-category .category-max .max-anchor:after {
    content: attr(data-max);
    line-height: .75;
    vertical-align: top;
    margin: 0 0 0 .125em;
}
.newbook-category .category-max .max-anchor + .category-max-overlay {
    position: absolute;
    bottom: 100%;
    margin-bottom: 1em;
    left: -2em;
    background: #222222;
    color: #ffffff;
    padding: 1em;
    display: none;
    z-index: 25;
}
.newbook-category .category-max .max-anchor + .category-max-overlay:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #222222 transparent transparent transparent;
    position: absolute;
    top: 100%;
    left: 2em;
}

.newbook-category .category-max .max-anchor:hover + .category-max-overlay {
    display: block;
}
.newbook-category .category-description {
    display: flex;
    flex-direction: column;
}
.newbook-category .category-description input[type=checkbox] {
    font-style: italic;
    text-align: center;
    flex: 1;
    order: 2;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    cursor: pointer;
    outline: none;
    border-top: 1px solid rgba( 0, 0, 0, .1 );
    padding: .5em;
}
.newbook-category .category-description input[type=checkbox]:checked {
    display: none;
}
.newbook-category .category-description input[type=checkbox]:before {
    content: attr(value);
}
.newbook-category .category-description .category-description-reveal {
    line-height: 1.5em;
    overflow: hidden;
    position: relative;
}
.newbook-category .category-description input[type=checkbox]:not(:checked) + .category-description-reveal {
    height: 6em;
    margin: 0 0 1em;
}
.newbook-category .category-pricing {
    margin: 2em -1em -1em;
    padding: .5em 1em;
    background: rgba( 0, 0, 0, .1 );
}
.newbook-category .category-price span {
    font-size: 2em;
}
.newbook-notice {
    margin: 1em 0;
}

@media screen and (min-width: 768px) {
    .newbook-form {
        flex-direction: row;
        align-items: flex-end;
    }
    .newbook-form .newbook-af-field {
        flex: 1;
    }
    .newbook-category {
        flex-direction: row;
    }
    .newbook-category .category-images {
        flex: 0 0 40%;
        height: auto;
    }
    .newbook-category .category-content {
        flex: 1 0 auto;
        width: 60%;
    }
}

/**
 * jQuery UI Datepicker CSS 
 *
 * Courtesy of -
 * https://github.com/stuttter/wp-datepicker-styling
 */
.ui-datepicker {
    padding: 0;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-top: none;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.075);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.075);
    min-width: 17em;
    width: auto;
}

.ui-datepicker * {
    padding: 0;
    font-family: "Open Sans", sans-serif;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.ui-datepicker table {
    font-size: 13px;
    margin: 0;
    border: none;
    border-collapse: collapse;
}

.ui-datepicker .ui-widget-header,
.ui-datepicker .ui-datepicker-header {
    background-image: none;
    border: none;
    color: #fff;
    font-weight: normal;
}

.ui-datepicker .ui-datepicker-header .ui-state-hover {
    background: transparent;
    border-color: transparent;
    cursor: pointer;
}

.ui-datepicker .ui-datepicker-title {
    margin: 0;
    padding: 10px 0;
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: relative;
    top: 0;
    height: 34px;
    width: 34px;
}

.ui-datepicker .ui-state-hover.ui-datepicker-prev,
.ui-datepicker .ui-state-hover.ui-datepicker-next {
    border: none;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-prev-hover {
    left: 0;
}

.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-next-hover {
    right: 0;
}

.ui-datepicker .ui-datepicker-next span,
.ui-datepicker .ui-datepicker-prev span {
    display: none;
}

.ui-datepicker .ui-datepicker-prev {
    float: left;
}

.ui-datepicker .ui-datepicker-next {
    float: right;
}

.ui-datepicker .ui-datepicker-prev:before,
.ui-datepicker .ui-datepicker-next:before {
    font: normal 20px/34px 'dashicons';
    padding-left: 7px;
    color: #fff;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 34px;
    height: 34px;
}

.ui-datepicker .ui-datepicker-prev:before {
    content: '\f341';
}

.ui-datepicker .ui-datepicker-next:before {
    content: '\f345';
}

.ui-datepicker .ui-datepicker-prev-hover:before,
.ui-datepicker .ui-datepicker-next-hover:before {
    opacity: 0.7;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width: 33%;
}

.ui-datepicker thead {
    color: #fff;
    font-weight: 600;
}

.ui-datepicker th {
    padding: 10px;
}

.ui-datepicker td {
    padding: 0;
    border: 1px solid #f4f4f4;
}

.ui-datepicker td.ui-datepicker-other-month {
    border: transparent;
}

.ui-datepicker td.ui-datepicker-week-end {
    background-color: #f4f4f4;
    border: 1px solid #f4f4f4;
}

.ui-datepicker td.ui-datepicker-today {
    background-color: #f0f0c0;
}

.ui-datepicker td.ui-datepicker-current-day {
    background: #bbdd88;
}

.ui-datepicker td .ui-state-default {
    background: transparent;
    border: none;
    text-align: center;
    text-decoration: none;
    width: auto;
    display: block;
    padding: 5px 10px;
    font-weight: normal;
    color: #444;
}

.ui-datepicker td.ui-state-disabled .ui-state-default {
    opacity: 0.5;
}

/* Default Color Scheme */
.ui-datepicker .ui-widget-header,
.ui-datepicker .ui-datepicker-header {
    background: #00a0d2;
}

.ui-datepicker thead {
    background: #32373c;
}

.ui-datepicker td .ui-state-hover {
    background: #0073aa;
    color: #fff;
}

/* WordPress Color Schemes */

/* Fresh */
.admin-color-fresh .ui-datepicker .ui-widget-header,
.admin-color-fresh .ui-datepicker .ui-datepicker-header {
    background: #00a0d2;
}

.admin-color-fresh .ui-datepicker thead {
    background: #32373c;
}

.admin-color-fresh .ui-datepicker td .ui-state-hover {
    background: #0073aa;
    color: #fff;
}

/* Blue */
.admin-color-blue .ui-datepicker .ui-widget-header,
.admin-color-blue .ui-datepicker .ui-datepicker-header {
    background: #52accc;
}

.admin-color-blue .ui-datepicker thead {
    background: #4796b3;
}

.admin-color-blue .ui-datepicker td .ui-state-hover {
    background: #096484;
    color: #fff;
}

/* Coffee */
.admin-color-coffee .ui-datepicker .ui-widget-header,
.admin-color-coffee .ui-datepicker .ui-datepicker-header {
    background: #59524c;
}

.admin-color-coffee .ui-datepicker thead {
    background: #46403c;
}

.admin-color-coffee .ui-datepicker td .ui-state-hover {
    background: #c7a589;
    color: #fff;
}

/* Ectoplasm */
.admin-color-ectoplasm .ui-datepicker .ui-widget-header,
.admin-color-ectoplasm .ui-datepicker .ui-datepicker-header {
    background: #523f6d;
}

.admin-color-ectoplasm .ui-datepicker thead {
    background: #413256;
}

.admin-color-ectoplasm .ui-datepicker td .ui-state-hover {
    background: #a3b745;
    color: #fff;
}

/* Midnight */
.admin-color-midnight .ui-datepicker .ui-widget-header,
.admin-color-midnight .ui-datepicker .ui-datepicker-header {
    background: #363b3f;
}

.admin-color-midnight .ui-datepicker thead {
    background: #26292c;
}

.admin-color-midnight .ui-datepicker td .ui-state-hover {
    background: #e14d43;
    color: #fff;
}

/* Ocean */
.admin-color-ocean .ui-datepicker .ui-widget-header,
.admin-color-ocean .ui-datepicker .ui-datepicker-header {
    background: #738e96;
}

.admin-color-ocean .ui-datepicker thead {
    background: #627c83;
}

.admin-color-ocean .ui-datepicker td .ui-state-hover {
    background: #9ebaa0;
    color: #fff;
}

/* Sunrise */
.admin-color-sunrise .ui-datepicker .ui-widget-header,
.admin-color-sunrise .ui-datepicker .ui-datepicker-header,
.admin-color-sunrise .ui-datepicker .ui-datepicker-header .ui-state-hover {
    background: #cf4944;
}

.admin-color-sunrise .ui-datepicker th {
    border-color: #be3631;
    background: #be3631;
}

.admin-color-sunrise .ui-datepicker td .ui-state-hover {
    background: #dd823b;
    color: #fff;
}

/* Light */
.admin-color-light .ui-datepicker .ui-widget-header,
.admin-color-light .ui-datepicker .ui-datepicker-header {
    background: #e5e5e5;
}

.admin-color-light .ui-datepicker thead {
    background: #888;
}

.admin-color-light .ui-datepicker .ui-datepicker-title,
.admin-color-light .ui-datepicker td .ui-state-default,
.admin-color-light .ui-datepicker .ui-datepicker-prev:before,
.admin-color-light .ui-datepicker .ui-datepicker-next:before {
    color: #555;
}

.admin-color-light .ui-datepicker td .ui-state-hover {
    background: #e5e5e5;
}

/* bbPress Color Schemes */

/* Evergreen */
.admin-color-bbp-evergreen .ui-datepicker .ui-widget-header,
.admin-color-bbp-evergreen .ui-datepicker .ui-datepicker-header {
    background: #56b274;
}

.admin-color-bbp-evergreen .ui-datepicker thead {
    background: #36533f;
}

.admin-color-bbp-evergreen .ui-datepicker td .ui-state-hover {
    background: #446950;
    color: #fff;
}

/* Mint */
.admin-color-bbp-mint .ui-datepicker .ui-widget-header,
.admin-color-bbp-mint .ui-datepicker .ui-datepicker-header {
    background: #4ca26a;
}

.admin-color-bbp-mint .ui-datepicker thead {
    background: #4f6d59;
}

.admin-color-bbp-mint .ui-datepicker td .ui-state-hover {
    background: #5fb37c;
    color: #fff;
}